<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/games"><img
        src="https://www.vectorlogo.zone/logos/steampowered/steampowered-tile.svg" alt="" width="30" height="24"
        class="d-inline-block align-text-top">(Not)Steam</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/developers" routerLinkActive="active">Desarrolladores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/publishers" routerLinkActive="active">Publicadores</a>
        </li>
      </ul>
      <app-searchfield></app-searchfield>
      <button *ngIf="!logged" routerLink="/auth/login" class="btn btn-success me-2" type="button">
        Iniciar Sesión
      </button>
      <!-- <button *ngIf="!logged" (click)="onLogin()" class="btn btn-success me-2" type="button">
        Iniciar Sesión
      </button> -->
      <button *ngIf="logged" (click)="onLogout()" class="btn btn-danger me-2" type="button">
        Cerrar Sesión
      </button>
    </div>
  </div>
</nav>