<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <article class="movies-container py-5">
        <section class="movies-item">
          <div class="card" style="width: 100%">
            <img
              src="https://via.placeholder.com/100"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"></p>
              <button [routerLink]="['/home']" class="btn btn-primary">
                Back
              </button>
              <button (click)="onReset()" class="btn btn-primary">Reset</button>
              <button routerLink="/details/work" class="btn btn-primary">
                Work
              </button>
              <button
                [routerLink]="['/details', 'jobs']"
                class="btn btn-primary"
              >
                Jobs
                <!-- details/0/jo/bs -->
              </button>
            </div>
          </div>
        </section>
      </article>
    </div>
  </div>
</div>

