<div class="container my-3">
  <div id="grilla">
    <section id="juego" class="">
      <div class="card shadow">
        <img [src]="juego.img" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{juego.nombre}}</h5>
          <p class="card-text">{{juego.descripcion}}</p>
          <p class="card-text">Género: {{juego.genero}}<br>Fecha de Publicación: {{juego.fechaPublicacion | date:
            'dd/MM/yyyy' }}</p>
          <p class="card-text"></p>
          <button [routerLink]="['/home']" class="btn btn-primary">
            Inicio
          </button>
        </div>
      </div>
    </section>
    <section id="datos-juego" class="">
      <div class="row justify-content-center">
        <div class="col-lg-4 mb-3 d-flex align-items-stretch">
          <div class="card shadow">
            <img [src]="desarrollador.img" class="card-img-top">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Desarrollador</h5>
              <p class="card-text mb-4">{{desarrollador.nombre}}</p>
              <button [routerLink]="['/developers', 'details', desarrollador._id]"
                class="btn btn-primary mt-auto align-self-start">Detalles</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-3 d-flex align-items-stretch">
          <div class="card shadow">
            <img [src]="publicador.img" class="card-img-top">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Publicador</h5>
              <p class="card-text mb-4">{{publicador.nombre}}</p>
              <button [routerLink]="['/publishers', 'details', publicador._id]"
                class="btn btn-primary mt-auto align-self-start">Detalles</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>





<!-- <div class="container my-3">
  <div id="grilla">
    <section id="juego" class="">
      <div class="card shadow">
        <img [src]="juego.img" class="card-img-top" alt="..." />
        <div class="card-body">
          <p>{{juego.descripcion}}</p>
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <button [routerLink]="['/home']" class="btn btn-primary">
            Back
          </button>
        </div>
      </div>
    </section>
    <section id="desarrollador" class="">
      <div class="card shadow">
        <img [src]="desarrollador.img" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Desarrollador</h5>
          <p class="card-text">{{desarrollador.nombre}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </section>
    <section id="publicador" class="">
      <div class="card shadow">
        <img [src]="publicador.img" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Publicador</h5>
          <p class="card-text">{{publicador.nombre}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </section>
  </div>
</div> -->