<div class="container my-3">
    <div id="grilla">
        <section id="publicador">
            <div class="card shadow-lg">
                <img [src]="publicador.img" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">{{publicador.nombre}}</h5>
                    <p class="card-text"></p>
                    <button [routerLink]="['/publishers']" class="btn btn-primary">
                        Back
                    </button>
                </div>
            </div>
        </section>
    </div>
</div>